<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am currently working as an Assistant Professor at the Department of Physics, in Vivekananda Satavarshiki Mahavidyalaya (VSM)
          [affiliated to the Vidyasagar University], Jhargram, India.
          Before joining VSM as a permanent faculty member, I was a SERB-National Post-Doctoral Fellow at Jadavpur University, Kolkata, India. </p>
      
  
      </div>
      <div class="col-lg-4">
        <p> I received my Ph.D degree from the Visva-Bharati (A Central University and an Institution of National Importance),  
          India on 10th November, 2016. The title of his PhD thesis is, ``Aspects of Scalar Field Models of Dark Energy''. I am a Life Member
          of Indian Association for General Relativity and Gravitation. </p>
      </div>

    </div>
  </div>
</section>
