<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>He is currently an Assistant Professor at the Department of Physics, in Vivekananda Satavarshiki Mahavidyalaya (VSM)
          [affiliated to the Vidyasagar University], Jhargram, India.
          Before joining VSM as a permanent faculty member, he was a National Post-Doctoral Fellow at Jadavpur University, Kolkata, India. </p>
      
  
      </div>
      <div class="col-lg-4">
        <p> He received his Ph.D degree from the Visva-Bharati (A Central University and an Institution of National Importance),  
          India on 10th November, 2016. The title of his PhD thesis is, ``Aspects of Scalar Field Models of Dark Energy''. He is a Life Member
          of Indian Association for General Relativity and Gravitation, since 2013. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
