<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Contact Me</h3>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        Department of Physics <br>
        Vivekananda Satavarshiki Mahavidyalaya (affiliated to the Vidyasagar University) <br>
        At+PO: Manikpara Dist: Jhargram <br>
        PIN: 721513, West Bengal, India <br>
        Website: <a href="https://www.vsm.org.in/">www.vsm.org.in</a> <br>

        Email: <a href="mailto:abdulla.physics@gmail.com">abdulla.physics@gmail.com</a>
      </div>
    </div>
  </div>
</section>
